div#game {
  position: relative;
}

div#board {
  float: left;

  height: 382px;
  width: 382px;

  border-style: solid;
  border-width: 10px;
  border-color: #deb887;
}

div.tile {
  float: left;

  position: relative;

  width: 46px;
  height: 46px;
  border-width: 2px;

  border-right-style: solid;
  border-bottom-style: solid;

  border-color: #444;
}

div.title.blank {
  background-color: #fff;
}

div.tile.wall {
  background-color: #666;
}

div.tile.floor {
  background-color: #123;
}

div.tile.player {
  background-color: #123;
}

div.title.box {
  background-color: #123;
}

div.title.destination {
  background-color: #f48;
}

div.title.boxcomplete {
  background-color: #80f;
}

div#panel {
  float: right;
}

