div#game {
  position: relative;
}

div#level {
  float: left;

  border-style: solid;
  border-width: 9px;
  border-color: #111;
}

div.tile {
  float: left;

  position: relative;

  width: 50px;
  height: 50px;
  border-width: 0px;
}

div.tile.blank {
  background-color: #fff;
}

div.tile.wall {
  background-color: #666;
}

div.tile.floor {
  background-color: #fb4;
}

div.tile.player {
  background-color: #0a0;
}

div.tile.box {
  background-color: #f80;
}

div.tile.destination {
  background-color: #f48;
}

div.tile.boxcomplete {
  background-color: #80f;
}

div#panel {
  float: right;
}

